<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
    <head>
        <meta charset="utf-8">
        <title>This is Angular Demo</title>
        <script src="./content/js/vendor/angular/angular.min.js" ng:autobind></script>
        <script src="./content/js/vendor/angular-resource/angular-resource.min.js"></script>
        <script src="./modules.js"></script>
        <script src="./services/movieService.js"></script>
        <script src="./controller/movieController.js"></script>

    </head>
    <body ng-app='movieApp'>
        <h1>This is Angular Demo</h1>
        <div class="clear"></div>
        <div id="movieList" ng-controller="movieController">
            <div class="movieAdd">
                <button id="btnAdd" ng-hide="isNew" ng-click="addMovie()">Add</button>
            </div>
            <div class="">
              <ng-include ng-if="!isMoviePane" src="'./views/movie-list.html'"></ng-include>
              <ng-include ng-if="isMoviePane" src="'./views/movie-details.html'"></ng-include>
            </div>
        </div>
        <div class="clear"></div>
    </body>
</html>
