<html>
    <head>
        <title>Backbone demo</title>
    </head>

    <body>
        <h2>This is backbone demo application</h2>
        <div class="clear"></div>
        <div id="movieList">
            <div class="movieAdd">
                <button id="btnAdd">Add</button>
            </div>
            <ul class="movies"></ul>
        </div>
        <div class="clear"></div>
        <div class="singleMovie"></div>
    </body>
    <script data-main="content/main.js" src="content/js/vendor/requirejs/require.js"></script>
    <script type="text/template" id="addMovie">
        <!-- <button id="btnAdd">Add</button> -->
    </script>
    <script class="movieTemplate" type="text/template">
    <li style="list-style:none;border:1px solid;width:250px;" class="movie">
        <dt>Name</dt>
        <dd><%= Name %></dd>
        <dt>Director</dt>
        <dd><%= Director %></dd>
        <dt>Rating</dt>
        <dd><%= Rating %></dd>
        <dt>
            <button type="button" class="btnEdit" data-id="<%= _id %>">Edit</button>
        </dt>
    </li>
</script>
<!-- <script type="text/template" id="movie">
    <dd><span>Name: </span><%= Name %></dd>
    <dd><span>Director: </span><%= Director %></dd>
    <dd><span>Rating: </span><%= Rating %></dd>
    <dd>
        <button id="btnEdit">Edit</button>
    </dd>
</script> -->
<script type="text/template" id="movieEdit">
    <ul style="list-style:none;line-height:25px;">
        <li>
            <span>Name</span>
        </br><input type="text" id="Name" value="<%= Name %>"/></li>
    <li>
        <span>Director</span>
    </br><input type="text" id="Director" value="<%= Director %>"/></li>
<li>
    <span>Rating</span>
</br><input type="text" id="Rating" value="<%= Rating %>"/></li>
<li>
<button id="btnUpdate">Update</button>
<button id="btnDelete">Delete</button>
<button id="btnCancel">Cancel</button>
</li>
</ul>
</script>

<script type="text/template" id="movieAdd">
    <ul style="list-style:none;line-height:25px;">
        <li>
            <span>Name</span>
        </br><input type="text" id="Name"/></li>
    <li>
        <span>Director</span>
    </br><input type="text" id="Director"/></li>
<li>
    <span>Rating</span>
</br><input type="text" id="Rating"/></li>
<li>
    <span>Released Date</span>
</br><input type="date" id="ReleasedDate"/></li>
<li>
    <span>Type</span>
</br><input type="text" id="Type"/></li>
<li>
<button id="btnSave">Save</button>
<button id="btnCancel">Cancel</button>
</li>
</ul>
</script>

<style type="text/css">
ul li input[type=text] {
width: 150px;
};
button {
margin-right: 10px;
};
hidden {
display: none;
}

</style>
</html>
